[Desktop Entry]
Name=PeneTrust Desk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=penetrust-desk
Exec=penetrust-desk %u
Icon=penetrust-desk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=penetrust-desk
